hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

table { background:none; }
img { border: 0; }

input {
    float: left;
    clear: none;
    margin: 4px;
}

.top-bar h1 {
	margin-top:16px;
	font-size: 28px;
}
.top-bar.leagues {
	width:100%;
	text-align: right;
}
/* nav */
#subnav li {
	position:relative;
}
#subnav li a span.opener{
	color:#fff;
}
#subnav li:hover a span.opener, #subnav li.hover a span.opener{
	background: #0372CB;
	color:#fff;
}
.drop{
	position:absolute;
	top:13px;
	left:0;
	width:165px;
	display:none;
	z-index:100;
	background:#000;
}
#subnav li:hover .drop, 
#subnav li.hover .drop{
	display:block;
}
.drop .t{
	background: #000;
	height:7px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:20;
	cursor:pointer;
}
.drop .b{
	background: #000;
	display:block;
	height:2px;
}
#subnav li .drop ul {
	list-style:none;
	margin:none;
	padding:none;
	border:none;
}
#subnav li .drop ul li{
	float:none;
	height:1%;
	padding:4px 0 4px 0;
	background: #000;
	position:static;
	margin:0 1px 0 0;
	text-align:left;
	clear:none;
	display:block;
}
#subnav li .drop ul li img {
	padding: 0 8px 0 0;
	margin:none;
	border:none;
	z-index:109;
	clear:none;
	display:inline;
}
#subnav li .drop ul li a {
	font:11px Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px;
	display:block;
	border:none;
	margin:none;
	text-align:left;
	float:none;
	clear:none;
	background:none;
	text-decoration:none;
}
#subnav li:hover .drop li a, 
#subnav li.hover .drop li a{
	background:#000;
	color:#fff;
	z-index:110;
}
#subnav li:hover .drop li a:hover, 
#subnav li.hover .drop li a:hover{
	background: #333;
	color:#ff0;
	z-index:110;
}
/* 1.0.6 */
#bug_bar {
	float:left;
	clear:both;
	width:959px;
	margin:0;
	padding:.3em 0 .1em 0;
	color:#c00;
	background-color:#ffc;
	text-align:right;
	padding:7px 8 0 0;
}
#bug_bar ul {
   margin:0 2px 2px 2px;
   padding:0;
}
#bug_bar li {
   display:inline;
   margin:0;
   padding:0;
}
#bug_bar li a, #bug_bar li.label {
   padding:0 .3em 0 .5em;
   font-size:13px;
   font-weight: bold;
   color:#c00;
}

/*img.splash {
	border: 1px solid #666;
	padding:3px;
	outline:none;
}*/
.imgattr {
	font: 9px/10px Arial, Helvetica, sans-serif;
	color:#999;
}
a.register, a.register:visited {
	font-size:15px;
	font-weight:bold;
	color:#E6EFC2;
	padding:10px;
	background-color: crimson;
}
a.register:hover {
	background-color:#461102;
	color:#fff;
}
/*------------------------------------------------
/	HOMEPAGE
/-----------------------------------------------*/
.homepage .hero-area, .newslist .hero-area  {
	width:100%;
	z-index: 1;
	position: relative;
	height: 185px;
}
.newslist .hero-area  {
	height: 165px;
}
.homepage .hero-area img.splash {
	width:925px;
	height:175px;
}
.newslist .hero-area img.splash {
	width:925px;
	height:150px;
}

.homepage .hero-area  > h2, .newslist .hero-area  > h2 {
	position: absolute;
	top: 35px;
	left: 40px;
	/*padding:0px;
	margin: 0 0 8px 0;*/
	font: bold 21px/24px Tahoma, Geneva, sans-serif;
	color:#ddd;
	padding: 18px;
	background: rgba(6, 6, 68, 0.7);
	z-index: 999;
}
.homepage h3 {
	margin: 0px;
	padding: 0px;
	font-size:24px;
	color:rgb(11, 0, 36);
}

.home_news {
	position: relative;
}
.home_news .home_news_img, .home_news .home_news_body {
	float:left;
}
.home_news .home_news_img {
	margin-right: 15px;
	width: 35%;
}.home_news .home_news_body {
	margin: 0;
	width: 62%;
}
.home_news h3 {
	font-size:18px;
	margin: 0;
}

/*-------------------------------------------------
/	TEXT BOX CLASS UPDATES
/	@since PROD 1.0.3
/------------------------------------------------*/
.textbox, .textbox.right-column > table {
	width:100%;
}

.textbox > table {
	width:96%;
}
.textbox.filterbar {
	border: 0;
}

.textbox.filterbar > table {
	width: auto;
	margin: 0;
}

/*------------------------------------------------
/	LEAGUES
/-----------------------------------------------*/
.league-home .top-bar {
	position: relative;
    padding-bottom: 20px;
    height: 105px;
}

.league-home .top-bar img {
	float: left;
    padding: 0 20px 25px 0;
    clear: right;
}

.league-home .top-bar > h1 {
	margin: 0;
    padding: 30px 0 0 0;
    display: inline-block;
    font-size: 32px;
}

.league-home h2 {
	margin-bottom:5px;
}
.news_title > h3 {
	position: relative;
	margin: 0px;
	top: 4px;
	left: -4px;
	z-index: 999;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	padding: 3px 15px;
	background: #ea2e2b;
	border: 4px solid #fff;
	border-top: 0;
	border-left: 0;
}
.news_title.teams > h3 {
	background: #006;
	color:#FCB97C;
}
.news_title.home > h3 {
	background: #461102;
	color: #eeeeee;
}
img.league_news_wide, img.league_news_tall {
	border:1px solid #999; 
	padding:3px;
	margin:3px;
}
img.league_news_wide {
	max-width:225px; 
}
img.league_news_tall {
	max-height:250px; 
}
.league_date {
	font: 13px/16px Arial, Helvetica, sans-serif;
	color:#900;	
}
.news_author {
	font: 13px/16px Arial, Helvetica, sans-serif;
	color:#202020;	
}
.news_body {
	width:90%;
	padding:3px;
	font: normal 13px/18px Verdana, Arial,Geneva, sans-serif;
}
.news_body a {
	color:#036;
}
#league_list {
	list-style:none;
	margin-left:0px;
	padding-left: 5px;
}
#league_list li {
	padding: 0 0 8px 0px;
}
#league_list li a { font-weight:bold; font-size: 12px; }
div.rule {
    background-color: #A2A2A2;
    height: 1px;
    overflow: hidden;
	margin: 6px 0 6px 0;
}

.league-home div.rule {
	margin: 4px 0 6px 0;
}

#left-column { width: 185px; float:left; margin-right:10px;  }
#left-column-wide { width: 245px; float:left; margin-right:10px;  }
#left-column-article { width: 280px; float:left; margin-right:20px;  }
#left-column-article-dbl { width: 560px; float:left; margin:0 20px; }
#center-column { width: 655px; float:left; margin-right:10px; height:100%; }
#center-column-med { width: 535px; float:left; margin-right:10px; }
#center-column-short { width: 400px; float:left; margin-right:10px; }
#right-column { width: 265px; float:left;}
#right-column-mid { width: 320px; float:left;}
#right-column-wide { width: 375px; float:left;}
#single-column { width: 925px; float:left;}

/*--------------------------
/	 1.0.3 2 Col
/-------------------------*/
.layout {
	display: flex;
	padding-top: 20px;
}
.layout-column:first-child {
	margin-right: 20px;
	width: 51%;
}
.layout-column:last-child {
	width: 48%;
}
.layout-column {
	padding-right: 6px;
	flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.layout-column .headline {
	font-weight: bold;
	color: #151617;
	line-height: 19px;
	font-size: 16px;
	border-bottom: 1px solid #bbb;
}

.layout.homepage .layout-column .headline {
	line-height: 24px;
	font-size: 20px;
}

section.content {
	padding: 4px 0;
	clear: both;
	margin-top: 8px!important;
}

.teamLinks.flex {
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
	padding:10px 0 10px 0;
}
figure.logo-lg, figure.logo-exlg {
	padding: 0 12px 0 20px;
    margin: 0;
}
.logo-lg > img, .logo-exlg > img {
	width: 50px;
	margin: 0;
	max-width: 100%;
	height: auto;
    overflow: hidden;
    position: relative;
}
.logo-exlg > img {
	width: 75px;
}

.flexContent {
	padding-left: 8px!important;
}
.teamLinks a.teamLink  {
	display: inline;
    color: #151617;
    font-weight: 600;
    line-height: 22px;
    font-size: 18px;
}
.teamLinks a.leagueLink, .flexContent h2  {
	display: inline;
    color: #151617;
    font-weight: 600;
    line-height: 28px;
    font-size: 24px;
}

/*---------------------------
/	2020 Site Button update
/---------------------------*/
.sitebtn {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: 0.8em 1.4em;
	padding-right: 4.7em;
	background: #009ED8;
	border: none;
	color: white;
	transition: 0.2s;
}
.sitebtn:before,
.sitebtn:after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top: inherit;
	padding-bottom: inherit;
	width: 2.8em;
	content: "";
	/*font-family: 'FontAwesome', sans-serif;*/
	font-size: 1.3em;
	text-align: center;
	transition: 0.2s;
	transform-origin: 50% 60%;
}
.sitebtn:before {
	background: rgba(0, 0, 0, 0.1);
	}
.sitebtn:hover {
	background: #0079a5;
	cursor: pointer;
	}
.sitebtn:active,
.sitebtn:focus {
	background: #002e3f;
	outline: none;
	}
.sitebtn {
	min-width: 15em;
	}
.create_league {
	background: #139675;
}
.create_league:hover {
	background: #0d6952;
}
.create_league:active,
.create_league:focus {
	background: #083b2e;
}
.create_league:after {
	content: "\002B";
}
.create_league:hover:after {
	-webkit-animation: wiggle 0.05s alternate ease infinite;
	animation: wiggle 0.05s alternate ease infinite;
}

.register {
	background: #940c0c;
}
.register:hover {
	background: #530707;
}
.register:active,
.register:focus {
	background: #5f0303;
}
.register:after {
	content: "\003E";
}
.register:hover:after {
	-webkit-animation: wiggle 0.05s alternate ease infinite;
	animation: wiggle 0.05s alternate ease infinite;
}

.login {
	background: #028fd1;
}
.login:hover {
	background: #0b6d8b;
}
.login:active,
.login:focus {
	background: #067c85;
}
.login:after {
	content: "\00bb";
}
.login:hover:after {
	-webkit-animation: wiggle 0.05s alternate ease infinite;
	animation: wiggle 0.05s alternate ease infinite;
}

.lineup {
	background: #036;
}
.lineup:hover {
	background: #003;
}
.lineup:active,
.lineup:focus {
	background: #003;
}
.lineup:after {
	content: "\00BB";
}
.lineup:hover:after {
	-webkit-animation: wiggle 0.05s alternate ease infinite;
	animation: wiggle 0.05s alternate ease infinite;
}

.adddrop {
	background: #036;
    width: 76px;
    min-width: 0px;
    margin-right: 3px;
    padding: 0.5em 0.3em;
	float: left;
	display: none;
}
.adddrop:hover {
	background: #003;
}
.adddrop:active,
.adddrop:focus {
	background: #003;
}
.adddrop:after {
	content: "";
}
.adddrop:hover:after {
	-webkit-animation: none;
	animation: none;
}

.news {
	background: rgb(3, 121, 129);
    width: 76px;
    min-width: 0px;
    margin-right: 3px;
    padding: 0.5em 0.3em;
	float: left;
}
.news:hover {
	background: rgb(0, 148, 123);
}
.news:active,
.news:focus {
	background: rgb(2, 177, 177);
}
.news:after {
	content: "";
}
.news:hover:after {
	-webkit-animation: none;
	animation: none;
}

.edit {
	background: #900;
    width: 76px;
    min-width: 0px;
    margin-right: 3px;
    padding: 0.5em 0.3em;
	float: left;
}
.edit:hover {
	background: #700;
}
.edit:active,
.edit:focus {
	background: #C00;
}
.edit:after {
	content: "";
}
.edit:hover:after {
	-webkit-animation: none;
	animation: none;
}

.readmore {
	background: #4a4a4a;
}
.readmore:hover {
	background: #202020;
}
.readmore:active,
.readmore:focus {
	background: #5b5b5b;
}
.readmore:after {
	content: "\00BB";
}
.readmore:hover:after {
	-webkit-animation: wiggle 0.05s alternate ease infinite;
	animation: wiggle 0.05s alternate ease infinite;
}

/*--------------------------------------------
/	ADMIN STYLES
/-------------------------------------------*/
.security {
	display:block;
	float: left;
	clear: right;
    margin: 4px;
}

.dashboard ul.iconmenu  {
	list-style:none;
	width:90%;
	margin:12px 0 12px 0px;
	padding:0px;
}
.dashboard ul.iconmenu li {
	float:left;
	margin:0px 4px 6px 0px;
	font-size:12px; color:#333;	
	text-align:center;
	width:24%;
	position: relative;
}
.dashboard ul.iconmenu li span.badge {
	position: absolute;
	top: -10px;
	right: 20px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
  }

#previewPane {
	width:825px;
	border:1px solid #dedede;
	padding:12px;
	margin:none;
	text-align:left;
}

.textbox .title .lhl {
	font-size:16px;
	font-weight: bold;
	color:#036;
}
.textbox .title td {
	font-weight: bold;
	font-size: 15px;
}
.textbox .headline td, .textbox .statscol td {
	font-weight: bold;
	font-size: 14px;
	padding-left:6px;
}

.textbox.right-column .title {
	background-color: #4a4a4a;
}
.textbox.right-column .title td {
	color: #eeeeee;
}
/*.textbox.right-column .error, .textbox.right-column .success, .textbox.right-column .warn,
.textbox.right-column .info, .textbox.right-column .notice {
	display: inline;
	margin: 0;
}

.textbox.tradebox .error, .textbox.tradebox .success, .textbox.tradebox .warn,
.textbox.tradebox .info, .textbox.tradebox .notice {
	padding: 2px 6px;
}*/

.winner {
	font-weight: bold;
	font-size: larger;
}

th.center-align, td.center-align {
	text-align:center;
}
th.right-align, td.right-align {
	text-align:right;
}
tr.s1_l, tr.sl_1 {
	background-color: #EAEAEA !important;
}
tr.s2_l, tr.sl_2 {
	background-color: #FFFFFF !important;
}

td.hsc2_l.stat, td.hsc2_r {
	text-align: right;
}
td.hsc2_c.stat, td.hsc2_c {
	text-align: center;
}

.textbox.statsbox table, .textbox.gamebox table {
	border-collapse: collapse;
    width: 100%;
}
.textbox.statsbox thead, .textbox.gamebox thead {
	display: table-header-group;
}
.textbox.statsbox tr, .textbox.gamebox tr {
	display: table-row;
}
.textbox.statsbox thead > tr > th, .textbox.gamebox thead > tr > th {
	border-bottom: 1px solid #dcdddf;
    border-top: 1px solid #dcdddf;
    color: #48494a;
	display: table-cell;
	font-size: 11px;
	font-variant-numeric: tabular-nums;
    height: 24px;
	line-height: 15px;
	padding: 4px 4px 3px;
	text-align: right;
	text-transform: uppercase;
	vertical-align: middle;
    white-space: nowrap;
}

.textbox.statsbox thead > tr > th:first-child, .textbox.statsbox tbody > tr > td:first-child,
.textbox.gamebox thead > tr > th:first-child, .textbox.gamebox tbody > tr > td:first-child {
	text-align: left;
}

.textbox.statsbox tbody, .textbox.gamebox tbody {
	display: table-row-group;
}

.textbox.statsbox .statscol tr, .textbox.gamebox .statscol tr {
	color: #dedede;
}
.textbox.statsbox tbody > tr > td, .textbox.gamebox tbody > tr > td {
	padding:3px;
	text-align: right;
}
.textbox.tradesbox tbody > tr > td {
	padding:6px;
	text-align: left;
}
.textbox.tradesbox tbody > tr > td {
	padding:6px;
	text-align: left;
}
.textbox.tradesbox tbody > tr > td.review {
	padding:6px;
	text-align: center;
}
.textbox.gamebox tbody > tr > td {
	padding: 6px;
	vertical-align: middle;
}
.textbox.gamebox tbody > tr > td.result {
	text-align: center;
}
.textbox.gamebox tbody > tr > td a {
	font-weight: bold;
	color: #202020;
	text-decoration: none;
	font-size: 16px;
}
.textbox.gamebox tbody > tr > td a:hover {
	font-weight: bold;
	color: #000060;
	text-decoration: none;
}
.textbox.statsbox .statsrow {
	background-color: #dedede;
}
.textbox.statsbox .statsrow.even {
	background-color: #fff;
}

.textbox .title, .textbox.statsbox .title, .textbox.tradesbox .title {
	padding:6px;
}
.textbox.tradesbox .title th {
	padding:7px;
}

.textbox.toolbox .action-buttons {
	text-align: right;
}
.textbox.toolbox .action-buttons a {
	font-size:14px;
	font-weight: bold;
}
.textbox.toolbox .action-buttons button, .textbox.toolbox .action-buttons input, .roster-actions-box input[type=submit] {
	padding: 12px;
	font-size:15px;
	display: inline;
	float:none;
}
.textbox.searchBox, .textbox.searchBox table {
	width: 100%;
}
.roster-actions-box {
	width: 99%;
    padding: 6px 20px 6px 0;
    text-align: right;
    border: none;
    display: block;
	float: left;
}
.textbox.injuryBox td {
	padding:5px;
	font-size:13px;
}

/*-------------------------------------------
/	TEAMS
/------------------------------------------*/
.teamDetails {
	margin: 20px 0;
	position: relative;
}
.teamDetails h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0 8px;
}
.teamDetails .ownerName {
	font-weight: normal;
	font-size: 1.02em;
	display:inline;
}

.teamDetails .record {
    display: flex;
    color: #4c4d4f;
	margin-left: 12px;
	font-size: 15px;
}


.space_small {
	width:100%;
	float:left;
	display:block;
	height: 6px;
}
.space_med {
	width:100%;
	float:left;
	display:block;
	height: 10px;
}
.space_large {
	width:100%;
	float:left;
	display:block;
	height: 18px;
}
.small, .small a {
	font-size:9px;
}

.floated_icon {	 float:left;margin-right:6px; }
.floated_caption { width:70%;color:#c00;text-align:left; float:left; }

/* hilighting */
.hilight { background:#FF9; color:#C00; font-weight:bold; }
.hilight2 { background:#C8CFE1; color:#009; font-weight:bold; }
/*Error messages*/
.warn,
.info,
.error,
.notice, 
.success    { display:block; padding: .8em; margin: 1em; border: 2px solid #ddd; }
.error      { background: #FBE3E4; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; border-color: #FFD324; }
.success    { background: #E6EFC2; border-color: #C6D880; }
.info 		{ background:#C8CFE1; border-color:#006; }
.warn  		{ background:#FCB97C; border-color:#73612B;}
.inline { padding: .1em; margin: .1em; }

.success, .success_txt, .success a { color: #264409; }
.error, .error_txt, .error a  { color: #8a1f11;  }
.notice, .notice_txt, .notice a { color: #514721; }
.info, .info_txt, .info a { color:#006; }
.warn, .warn_txt, .warn a { color: #461102; font-weight:bold;  }

.textbox td.positive { font-weight: bold; color: #264409; background: #E6EFC2; }
.textbox td.negative { font-weight: bold; color: #8a1f11; background: #FBE3E4; }
.textbox td.message { font-weight: bold; color: #006; background:#C8CFE1; }
.textbox td.warning { font-weight: bold; color: #461102; background:#FCB97C; }
.textbox td.alert { font-weight: bold; color: #514721; background: #FFF6BF; }
.textbox td.cell_c { text-align: center; }
.textbox td.cell_m { vertical-align: middle; padding-top: 5px; font-weight: bold; }
.textbox td.cell_m a { font-weight: bold; }
.textbox td.cell_m_np { vertical-align: middle; padding-top: 0; }

.textbox.statusBox .warn,
.textbox.statusBox .info,
.textbox.statusBox .error,
.textbox.statusBox .notice, 
.textbox.statusBox .success { display:inline-block; padding: .6em; margin: 0 0 2px 0; border: 1px solid #ddd; width: 97%; clear:right; }

.textbox.statusBox span a {
	margin-left: 26px;
	font-weight:bold;
	color:#151617;
}